@font-face {
    font-family: PoppinsBold;
    src: url("../assets//fonts/Poppins-Bold.ttf");
}

.navbar1{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 5px;
    border-bottom: .5px solid #a0a0a0;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 2;
}

.left1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
    margin-left: 50px;
}

.right1 div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    font-size: 1.2vw;
}

.left1 img{
    width: 5vw;
    height: 5vw;
}

.left1 h2{
    font-size: 1.9rem;
    font-family: PoppinsBold;
    padding-top: 10px;
}

.right1{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar-menu {
    display: none;
}

@media (max-width: 768px) {
.right1{
    display: none;
}

.navbar-menu {
    display: block;
}

.left1{
    margin-left: 0px;
    width: 40%;
}
.left1 h2{
    font-size: 3vw;
}
}